---
layout: default
cards:
- heading: Menu 1
  prices: 30€
  description-html: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias numquam neque aut provident tenetur. Modi unde expedita labore odio nemo. Nostrum, ipsa culpa animi dolores temporibus expedita est qui consequatur.
- heading: Menu 1
  prices: 30€
  description-html: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias numquam neque aut provident tenetur. Modi unde expedita labore odio nemo. Nostrum, ipsa culpa animi dolores temporibus expedita est qui consequatur.
- heading: Menu 1
  prices: 30€
  description-html: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias numquam neque aut provident tenetur. Modi unde expedita labore odio nemo. Nostrum, ipsa culpa animi dolores temporibus expedita est qui consequatur.
  
---

 <!----------- Header ---------->
 <header class="header-nav grid text-center tall-90 md-tall-70">
    <div class="header-nav grid col-12-top">

{% include header-nav.html %}

    <div class="col-12-middle center">
        <h1>Best Services</h1>
     </div>
    </div>
 </header>


 <!------------Section Includes------------>
 <section class="padded center">
     <h2>All Option Includes</h2>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem totam illo, nulla eaque, possimus sequi et quos corrupti vero numquam error alias voluptatem expedita inventore velit. Harum dicta nesciunt unde.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sit porro dolorem. Doloribus quos, quas debitis a nulla delectus dolore id natus, neque quam quod est. Fugiat omnis ipsa officiis!</p>
         <li>Planning the Menu</li>
         <li>Food Shopping</li>
         <li>Cooking & Service</li>
         <li>Cleaning of the Kitchen</li>
 </section>

 <!-------------Section Cards ------->

 <section class="padded center pricing">
    <div class="grid horizontal-scroll">
    <!----- First Card--->
    {% for item in page.cards %}
        <div class="col-4_xs-11 padded-05">
            <div class="card">
                <h3>{{item.heading}}</h3>
                <h4 class="prices"> {{item.prices}}</h4>
                <div>{{item.description-html}}</div>
                <ul>
                    <li>{{item.include}}</li>
                    <li>{{item.include}}</li>
                    <li>{{item.include}}</li>
                    <li>{{item.include}}</li>
                </ul>
            </div>
        </div>

<!---

  
    <div class="col-4_xs-11 padded-05">
        <div class="card">
            <h3>Menu 2</h3>
            <h4 class="prices"> 60€</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <ul>
                <li>include one</li>
                <li>include two</li>
                <li>include three</li>
                <li>include four</li>
            </ul>
        </div>
    </div>
   
    <div class="col-4_xs-11 padded-05">
        <div class="card">
            <h3>Menu 3</h3>
            <h4 class="prices"> 100€</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <ul>
                <li>include one</li>
                <li>include two</li>
                <li>include three</li>
                <li>include four</li>
            </ul>
        </div>
    </div>
  </div>----->
  {% endfor %}
</section> 


<div class="col-12 padded center">
    <a href="/contact.html" class="button">Contact Cecile</a>
</div>